.user {
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    background-color: #4E4E4E;
}

.user--logo {
    width: 100px;
    height: 100px;
    background: url('./images/icon-add.svg') no-repeat;
    background-size: cover;
}